@import "./normalize.css";

:root {
    --color-text: #666;
    --color-high-text: #ff6a00;
    --color-tint: #ffa666;
    --color-background: #FFFFFF;
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    background: var(--color-background);
    color:var(--color-text);
    width: 100vw;
}

a {
    color:var(--color-text);
    text-decoration: none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

img {
    max-width: 100% !important;
    height: auto !important;
}