@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1636379540086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-custom-user:before {
  content: "\e632";
}

.icon-categorynormal:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e61e";
}

.icon-cart:before {
  content: "\e6e6";
}

